@font-face {
  font-family: "iconfont"; /* Project id 2369636 */
  src: url('iconfont.woff2?t=1678427536445') format('woff2'),
       url('iconfont.woff?t=1678427536445') format('woff'),
       url('iconfont.ttf?t=1678427536445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-ofly-refresh:before {
  content: "\e668";
}

.el-icon-ofly-clear:before {
  content: "\e616";
}

.el-icon-ofly-ellipsis-v:before {
  content: "\e801";
}

.el-icon-ofly-transform:before {
  content: "\e8b5";
}

.el-icon-ofly-animation:before {
  content: "\e7c7";
}

.el-icon-ofly-transition:before {
  content: "\e6a9";
}

.el-icon-ofly-slot:before {
  content: "\e6c3";
}

.el-icon-ofly-sync:before {
  content: "\e686";
}

.el-icon-ofly-request:before {
  content: "\e65d";
}

.el-icon-ofly-v-model:before {
  content: "\e66e";
}

.el-icon-ofly-tools:before {
  content: "\e601";
}

.el-icon-ofly-vue:before {
  content: "\e69a";
}

.el-icon-ofly-mouse:before {
  content: "\ed18";
}

.el-icon-ofly-exit:before {
  content: "\e600";
}

